//файл обнуляющих стилей
@import "nullstyle.scss";

//Подлючение локальных шрифтов если есть
@import "fonts/fonts";

//Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// @import "slick.scss";

//Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Plus+Jakarta+Sans:wght@500;700&display=swap');

/*========================================*/
//Функции rem  и em
$fz: 16;

@function rem($size) {
    $remSize: calc($size / $fz);
    @return $remSize * 1rem;
}

@function em($size, $parSize) {
    $emSize: calc($size / $parSize);
    @return $emSize * 1em;
}

//Для расчета % значения
@function percent($value1, $value2) {
    $percentValue: calc($value1 / $value2 * 100%);
    @return $percentValue;
}

/*===========================================*/

//Шрифт по умолчанию
$fontFamily: 'Inter', sans-serif;
$fontSize: rem(16);

//Основные цвета
$mainColor: #232E35; //цвет шрифта
$greyColor:  #656D72;
$purpleColor: #7E74F1;



/*=======Настройка адптивной сетки============-*/

//Минимальная ширина страницы
$minWidth: 320;
//Ширина полотна (макета)
$maxWidth: 1440;
//Ширина ограничивающего контейнера
$maxWidthContainer: 1200;
//Общий отступ у контейнера
$containerPadding: 30;

//Ширина срабатывания первого брейкпойнта
$containerWidth: $maxWidthContainer + $containerPadding;

//Брейк-пойнты
$pc: em($containerWidth, $fz); //ПК, ноутбуку, некоторые планшеты в горизонтальном положении
$tablet: em(991.98, $fz); // Плантшеты нектооые тедефоны в горизонтальном положении
$mobile: em(767.98, $fz); // Телефоны L
$mobileSmall: em(479.98, $fz); //Телефоны

//Тип адаптива
//1 = отзывчивыость (у контейнера нет брейкпойнтов)
//2 = по брейк-пойнам ( контейнер меняет свою ширину по брейк-пойнтам)
$responsiveType: 1;


//Mixin 
// @mixin adaptiveValue($type, $maxtSize,  $minSize){


// }

/*===============Ограничивающий контейнер======================*/

/*Стили будут применяться дл всех классов содержащих *__container 
Например, header__container 
*/

@if ($responsiveType==1) {
    //отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer>0) {
            max-width: rem($containerWidth);
            margin: 0 auto;
            min-height: 100%;
            width: 100%;
        }
        @if ($containerPadding>0) {
            @if ($maxWidthContainer>0) {
                padding: 0 rem(calc($containerPadding / 2));
            } 
        }
    }
} @else {
    //по брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer>0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding>0){
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media(max-width: $pc) {
            max-width: rem(970);
        }
    }
}

/*Стили будут применяться для всех классов *-ibg. Например, main__image-ibg*/
[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}


// Стили иконки меню Burger
.icon-menu{
    display: none;
    @media(max-width: $mobile){
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        flex: 0 0 rem(30);
        z-index: 5;
        @media (any-hover: none) {
            cursor: default;
        }
        span, 
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: #000;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span{
            top: calc(50% - rem(1));
        }
    }
}

.icon-menu.menu-open{
    span {
        width: 0
    }

    &::before,
    &::after {
    }

    &::before{
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
    }

    &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
    }
}

//FullScreen
.fs {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

/*-------------------------------*/
body{
    //Скролл заблокирован
    font-family: $fontFamily;
    color: $mainColor;
    .lock{
        overflow: hidden;
        touch-action: none;
    }
}

/*=====================================================*/
//Общие БЭМ, заголовки и т.п.
.page {

    &__main {
    }

    &__services {
    }

    &__portfolio {
    }
    
    &__career {
    }

    &__blog {
    }

    &__testimonials {
    }
}
/*============================*/
.title {
    //title__label
    &__label {
        text-transform: uppercase;
        font-weight: 500;
        font-size: rem(12);
        line-height: 2;
        letter-spacing: em(7.5, 12);  
        color: $greyColor;
        display: flex;
        align-items: center;
        gap: rem(16);
        &::before {
            content: "";
            width: rem(16);
            height: rem(2);
            background-color: rgba(217, 217, 217, 1);
        }
        &:not(:last-child) {
            margin-bottom: em(9, 12);
        }
    }
    //title__value
    &__value {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    font-size: rem(36);
    line-height: calc( 45 / 36 * 100%);
    color: $mainColor;
        span {
            color: $purpleColor;
        }
        &_big{
            font-size: rem(44);
            line-height: calc( 55 / 44 * 100%);
            @media (max-width: $mobile) {
                font-size: rem(38);
            }
        }

        @media (max-width: $mobile) {
            font-size: rem(28);
        }
    }
}
/*============================*/
.text {
    line-height: calc(30 / 16 * 100%);
    p {
        &:not(:last-child) {
            margin-bottom: rem(15); 
        }
    }
}
/*============================*/
.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: rem(34);
    row-gap: rem(5);
    &__link {
        font-size: rem(22);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
}
/*============================*/
.category-link {
    display: inline-block;
    border: 1px solid #F1F1F1;
    border-radius: rem(4);
    color: $greyColor;
    font-size: rem(12);
    padding: rem(4) rem(8);
    line-height: percent(15, 12);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            background-color: $purpleColor;
            border: rem(1) solid $purpleColor;
            color:#fff;
        }
    }
}


/*=========HEADER==============================*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.75);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(15);
        padding-top: rem(5);
        padding-bottom: rem(5);
        min-height: 123px;
        @media(max-width: $mobile) {
            min-height: 60px;
        }
    }

    &__logo {
        position: relative;
        z-index: 5;
    }

    &__menu {
    }

    &__button {
        position: relative;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(15) rem(24);  
        border: rem(1) solid #F1F1F1;
        border-radius: rem(8);
        font-size: rem(14);
        line-height: calc(17 / 14 * 100%);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                background-color: $purpleColor;
                border: rem(1) solid $purpleColor;
                color:#fff;
            }
        }
        @media(max-width: $mobile) {
            padding: rem(10) rem(15);  
            border: rem(1) solid $mainColor;
            background-color: $mainColor;
            color: #fff;
        }
    }

    &__actions {
        display: flex;
        gap: rem(15);
        align-items: center;
    }
}
.menu {

    &__icon {
    }

    &__body {
        @media(max-width: $mobile) {
            position: fixed;
            top:0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: all 0.3s ease 0s;
            background-color: $purpleColor;
            padding: rem(90) rem(15) rem(30) rem(15);
            &::before {
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: rem(60);
                background-color: #fff;
                z-index: 2;
            }
        }
    }

    &__list {
        @media(min-width: $mobile) {
            display: flex;
            flex-wrap: wrap;
            // @include adaptiveValue("gap", 56, 15, 0 1200, 768);
            row-gap: rem(5);
            column-gap: rem(56);
        }
    }

    &__item {
        text-align: right;
        @media(max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(20);
            }
        }
    }

    &__link {
        font-weight: 400;
        font-size: rem(16);
        line-height: calc(19 / 16);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $purpleColor;
            }
        }
        @media(max-width: $mobile) {
            color: #fff;
            font-size: rem(32);
        }
    }
}

.menu__body.menu-open{
        left:0;
        &::before {
            left: 0;
        }
}


/*=========Main-section======================================*/

.main-section {

    &__container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        padding-top: rem(80);
        padding-bottom: rem(30);
        column-gap: rem(25);
        @media (max-width: $mobile) {
            grid-template-columns: auto;
            row-gap: rem(20);
        }
    }

    &__content {
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    &__text {
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    &__decor{
    }

    &__image {

    }
}

.decor-main-section {
    max-width: 336px;
    margin: 0 rem(22);
    justify-self: center;
    @media(min-width:$mobile) {
        justify-self: end;
        width: 100%;
    }
    @media(max-width: $mobile) {
        max-width: rem(336);
        width: 100%;
        min-width: rem(224);
    }

    &__box {
        position: relative;
        padding-bottom: percent(400, 336);
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: rem(16);
        }

        &::before {
            z-index: 1;
            background-color: #7E74F1;
            transform: rotate(-9.55deg);
        }

        &::after {
            z-index: 2;
            background: #EAE6FE url(../images/main/lines.svg) top right / 58% no-repeat;
            overflow: hidden;
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: rem(16);
        overflow: hidden;
    }

    &__picture {
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
    }

}

.main-section {

    &__social {
    }
}


/*=======Services====================================*/

.services {
    background-color: #FBFBFB;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: rem(100);
            @media (max-width: $mobile) {
                margin-bottom: rem(30);
            }
        }
    }

    &__items {
        display: grid;
        width: 100%;
        gap: rem(56);
        grid-template-columns: repeat(auto-fill, minmax( rem(280), 1fr));
    }

    &__item {
    }
}

.item-services {
    border-radius: rem(8);
    background-color: #fff;
    padding: rem(50);
    display: grid;
    justify-items: center;
    text-align: center;
    @media(max-width: $mobile) {
        padding: rem(15);
    }
    &__icon {
        width: rem(56);
        height: rem(56);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: rem(16);
        background-color: #F5F3FE;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    &__title {
        font-weight: 500;
        line-height: calc( 20 / 16 * 100%);
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    &__text {
        font-size: rem(14);
        line-height: calc(24 / 14 * 100%);
    }
}


/*==================================*/
.portfolio {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
        min-width: 0;
        overflow: hidden;
    }

    &__top {
        display: flex;
        gap: rem(20);
        justify-content: space-between;
        align-items: center;
        margin-bottom:rem(144);
        @media(max-width: $mobile) {
            margin-bottom:rem(30);
        }
        @media(max-width: rem(600)) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__title {
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: rem(16);
        @media(max-width: rem(600)) {
            justify-content: center;
        }
    }

    &__arrow {
        width: rem(40);
        height: rem(40);
        border-radius: rem(16);
        background-color: #EAE6FE;
        color: #7E74F1;
        font-size: rem(12);
        @media(any-hover: hover) {
            &:hover{
                background: #b0a5e9;
            }
        }
        &.swiper-button-disabled{
            opacity: 0.5;
            cursor: default;
        }
        &_left{

        }
        &_rigth{

        }
    }
}

.portfolio {

    &__slider {
        width: 100%;
        @media(max-width: rem(650)) {
            margin-right: rem(-15);
            padding-right: rem(15);
        }
    }

    &__wrapper {

    }

    &__slide {
        width: 100%;
    }

    &__image{
        
        img{
            max-width: 100%;
        }
    }
}

.item-portfolio {
    border: 1px solid #f5f5f5;
    border-radius: rem(8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__image-ibg {
        overflow: hidden;
        padding-bottom: percent(295, 361);
        opacity: 0.5;
        transition: opacity 0.8s ease 0s;
        img {
            object-position: top;
            transition: transform 0.8s ease 0s;
        }
        @media(any-hover: hover) {
            &:hover {
                opacity: 1;
                img{
                    transform: scale(1.05);
                }
            }
        }
        @media(any-hover: none) {
            opacity: 1;
        }
    }

    &__body {
        padding: rem(24);
        display: flex;
        flex-direction: column;
        gap: rem(16);
        flex: 1 1 auto;
    }

    &__footer{
        display: flex;
        align-items: center;
        gap: rem(16);
    }

    &__title {
        flex: 1 1 100%;
    }
    

    &__link-title {
        font-weight: 500;
        line-height: percent(20, 16);
        transition: color 0.3s ease 0s;
        @media(any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }

    &__category {
    }

    &__link {
        transition: color 0.3s ease 0s;
        @media(any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }

}

/*========Careeer===================================*/

.career {
    background-color: #FBFBFB;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(30);
        padding-top: rem(80);

    }

    &__body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        column-gap: rem(144);
        row-gap: rem(80);

        @media(min-width: $mobile) {
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            align-content: center;
            align-items: start;
            grid-auto-flow: column;
        }

        @media(max-width: $mobile) {
            column-gap: rem(20);
            row-gap: rem(20);

        }
    }

    &__title {
    }

    &__navigation {
        display: grid;
        gap: rem(9);
    }

    &__content {    
        padding-top: rem(32);
        @media(max-width: $mobile) {
            padding-top: rem(15);
        }
        @media(min-width: $mobile) {
            grid-row: span 2;
        }

    }
}

.navigation-career {

    &__title {
        text-align: left;
        background-color: inherit;
        padding: rem(14) rem(24);
        line-height: percent(19, 16);
        @media(max-width: $mobile) {
            border: 1px solid #c5cace;
        }
        &._tab-active {
            display: flex;
            justify-content: space-between;
            color: $purpleColor;
            background-color: #fff;
            align-items: center;
            @media(max-width: $mobile) {
                border: 1px solid #c5cace;
                background-color: #FBFBFB;
            }
            &::after {
                @extend %ic;
                content: "\e904";
                font-size: rem(12);
                @media(max-width: $mobile) {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

.content-career {
    &__body {
        display: none;
    }

    &__header {
        padding-bottom: rem(32);
        border-bottom: 1px solid #f1f1f1;
        @media(max-width: $mobile) {
            padding-bottom: rem(20);
        }
    }

    &__title {
        font-weight: 500;
        font-size: rem(18);
        line-height: percent(23, 18);
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }

    &__link-title {
        text-decoration: underline;
        @media(any-hover: hover) {
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__location {
        color: $greyColor;
        font-size: rem(14);
        line-height: percent(17, 14);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__time {
        color: $greyColor;
        font-size: rem(14);
        line-height: percent(24, 14);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    &__categories {
    }

    &__main {
        padding-top: rem(32);
        @media(max-width: $mobile) {
            padding-top: rem(20);
        }
    }

    &__list {
    }
}

.list-content-career {

    &__item {
        color: $greyColor;
        line-height: percent(19, 16);
        position: relative;
        padding-left: rem(28);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        &:before {
            content: "";
            background-color: #d9d9d9;
            width: rem(10);
            height: rem(2);
            position: absolute;
            left: 0;
            top: em(10, 16);
        }
    }
}

/*=====BLOG===================*/

.blog {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }

    &__title {
        margin-bottom: rem(144);
        @media(max-width: $mobile) {
            margin-bottom: rem(30);
        }
    }

    &__items {
        align-self: stretch;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
        gap: rem(40);
        @media(max-width: $mobile) {
            gap: rem(20);
        }
    }

    &__item {
    }
}


.item-blog {
    display: flex;
    border-radius: rem(8);
    overflow: hidden;
    border: 1px solid #f1f1f1;
    flex-direction: column;

    &__image-ibg {
        overflow: hidden;
        padding-bottom: percent(243, 361 );
        img {
            transition: transform 0.8s ease 0s;
        }
        @media(any-hover: hover) {
            &:hover {
                img{
                    transform: scale(1.05);
                }
            }
        }
    }

    &__body {
        padding: rem(16) rem(16) rem(24) rem(16);
        display: grid;
        gap: rem(16);
    }

    &__title {
        font-weight: 500;
        line-height: percent(24, 16);
        transition: color 0.3 ease 0s;
        @media(any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }

    &__link-title {
    }

    &__date {
        padding: rem(4) rem(8);
        color: $greyColor;
        font-size: rem(12);
        line-height: percent(15, 12);
    }

    &__text {
    }

    &__link {
        margin-top: rem(24);
        text-align: center;
        transition: color 0.3 ease 0s;
        @media(any-hover: hover) {
            &:hover {
                color: $purpleColor;
            }
        }
    }
}

/*======testimonials==================*/

.testimonials {
background-color: #FBFBFB;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: rem(30);
        padding-top: rem(80);
    }

    &__title {
        padding-bottom: rem(132);
        @media(max-width: $mobile) {
            padding-bottom: rem(70);
        }
    }

    &__items {
        align-self: stretch;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
        gap: rem(40);
        @media(max-width: $mobile) {
            gap: rem(20);
        }
    }

    &__item {
    }
}

.item-testimonials {
    background-color: #fff;
    border-radius: rem(8);
    display: flex;
    flex-direction: column;
    padding: 0 rem(38) rem(24) rem(38);
    &__avatar-ibg {
        border-radius: 50%;
        overflow: hidden;
        height: rem(96);
        width: rem(96);
        align-self: center;
        transform: translate(0, -50%);
    }

    &__text {
        &:not(:last-child){
            margin-bottom: rem(48);
            @media(max-width: $mobile) {
                margin-bottom: rem(20);
            }
        }
    }

    &__name {
        font-size: rem(14);
        font-weight: 500;
        line-height: percent(18, 14);
        &:not(:last-child) {
            margin-bottom: rem(9);
        }
    }

    &__profession {
        padding: rem(4) rem(8);
        color: $greyColor;
        font-size: rem(12);
        line-height: percent(15, 12);
        align-self: flex-start;
    }
}
